@charset "utf-8";
/* TOC – Color Variables

- Basics
- Corporate Identity Colorpalette
- Foundation Color Variables
- Grey Scale
- Topbar-Navigation
- Footer
- Code

*/



/* Basics
------------------------------------------------------------------- */

$text-color         : hsl(0, 0%, 7%);
$body-font-color    : $text-color;
$body-bg            : hsl(0, 0%, 99%);



/* Corporate Identity Colorpalette
   https://color.adobe.com/de/Flat-Design-Colors-v2-color-theme-4341903/
------------------------------------------------------------------- */

$ci-1               : hsl(202, 29%, 28%); // dark turquoise
$ci-2               : hsl(168, 44%, 48%); // turquoise
$ci-3               : hsl(46, 84%, 62%); // yellow
$ci-4               : hsl(22, 74%, 57%); // orange
$ci-5               : hsl(0, 70%, 58%); // red
$ci-6               : hsl(210, 55.24%, 41.18%); // green



/* Foundation Color Variables
------------------------------------------------------------------- */

$primary-color      : $ci-1;
$secondary-color    : $ci-6;
$alert-color        : $ci-5;
$success-color      : $ci-6;
$warning-color      : $ci-4;
$info-color         : $ci-1;



/* Grey Scale
------------------------------------------------------------------- */

$grey-1             : hsl(0, 0%, 89%);
$grey-2             : hsl(0, 0%, 84%);
$grey-3             : #CBCBCB;
$grey-4             : hsl(0, 0%, 75%);
$grey-5             : hsl(0, 0%, 64%);
$grey-6             : hsl(0, 0%, 59%);
$grey-7             : hsl(0, 0%, 55%);
$grey-8             : hsl(0, 0%, 49%);
$grey-9             : hsl(0, 0%, 39%);
$grey-10            : hsl(0, 0%, 34%);
$grey-11            : hsl(0, 0%, 29%);
$grey-12            : hsl(0, 0%, 24%);
$grey-13            : hsl(0, 0%, 19%);
$grey-14            : hsl(0, 0%, 14%);
$grey-15            : hsl(0, 0%, 9%);
$grey-16            : hsl(0, 0%, 4%);



/* Topbar-Navigation
------------------------------------------------------------------- */

$topbar-bg-color    : $body-bg;
$topbar-bg          : $topbar-bg-color;


$topbar-dropdown-toggle-color: $ci-1;

$topbar-link-color  : hsl(0, 0%, 0%);
$topbar-link-color-hover: hsl(0, 0%, 0%);
$topbar-link-color-active: hsl(0, 0%, 0%);
$topbar-link-color-active-hover: hsl(0, 0%, 0%);

$topbar-dropdown-label-color: $ci-2;
$topbar-dropdown-link-bg-hover: $ci-6;

$topbar-link-bg-active: $ci-6; // Active Navigation Link
$topbar-link-bg-hover: $ci-6;
$topbar-link-bg-active-hover: $ci-2;


$topbar-dropdown-bg: $ci-6; // Background Mobile Navigation
$topbar-dropdown-link-color: hsl(0, 0%, 0%);
$topbar-dropdown-link-bg: $ci-2;

$topbar-menu-link-color-toggled: $ci-1;
$topbar-menu-icon-color-toggled: $ci-1;
$topbar-menu-link-color: hsl(0, 0%, 0%);
$topbar-menu-icon-color: hsl(0, 0%, 0%);
$topbar-menu-link-color-toggled: $ci-6;
$topbar-menu-icon-color-toggled: $ci-6;



/* Footer
------------------------------------------------------------------- */

$footer-bg          : $grey-8;
$footer-color       : hsl(0, 0%, 100%);
$footer-link-color  : $ci-6;


$subfooter-bg       : $grey-13;
$subfooter-color    : $grey-8;
$subfooter-link-color: $grey-8;



/* Code
------------------------------------------------------------------- */

$code-background-color: scale-color($secondary-color, $lightness: 70%);

$highlight-background: hsl(0, 0%, 100%);
$highlight-comment: hsl(60, 8%, 57%);
$highlight-error: hsl(0, 76%, 37%);
$highlight-comment-special: hsl(0, 0%, 60%);
$highlight-deleted: hsl(0, 0%, 0%);
$highlight-error-2: hsl(0, 100%, 33%);
$highlight-literal-string: hsl(345, 86%, 47%);
$highlight-literal-number: hsl(180, 100%, 30%);
$highlight-name-attribut: hsl(180, 100%, 25%);
$highlight-error-background: hsl(0, 23%, 86%);
$highlight-generic-deleted: hsl(0, 100%, 93%);
$highlight-generic-deleted-specific: hsl(0, 100%, 83%);
$highlight-generic-inserted: hsl(120, 100%, 93%);
$highlight-generic-inserted-specific: hsl(120, 100%, 83%);
$highlight-generic-output: hsl(0, 0%, 53%);
$highlight-generic-prompt: hsl(0, 0%, 33%);
$highlight-subheading: hsl(0, 0%, 67%);
$highlight-keyword-type: hsl(225, 33%, 40%);
$highlight-name-builtin: hsl(195, 100%, 35%);
$highlight-name-class: hsl(225, 33%, 40%);
$highlight-name-entity: hsl(300, 100%, 25%);
$highlight-name-exception: hsl(0, 100%, 30%);
$highlight-name-function: hsl(0, 100%, 30%);
$highlight-name-namespace: hsl(0, 0%, 33%);
$highlight-name-tag: hsl(240, 100%, 25%);
$highlight-text-whitespace: hsl(0, 0%, 73%);
$highlight-literal-string-regex: hsl(135, 100%, 30%);
$highlight-literal-string-symbol: hsl(315, 100%, 30%);
